body {
    background-color: #d5fffb;
}

:root {
    --bs-primary: #004d40 !important;
    --bs-primary-rgb: 0, 77, 64 !important;
}

.social-icons .social-icon:hover {
    background-color: #90ee90;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.social-icons .social-icon:hover {
    background-color: #90ee90;
}

h3 {
    color: var(--bs-primary);
}