body {
    background-color: #d5fffb;
}

:root {
    --bs-primary: #004d40;
    --bs-primary-rgb: 0, 77, 64;
}

.social-icons .social-icon:hover {
    background-color: #90ee90;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

h3 {
    color: var(--bs-primary);
}

a[href^="mailto:"] {
    color: var(--bs-primary);
}

a[href^="mailto:"]:hover {
    color: #90ee90;
    text-decoration: underline;
}
